#videocontainer{
    width: 40vw;
    height: calc(40vw * 390 / 640);
    margin: auto;
}

section:nth-of-type(1){
    padding: 10vh 10vw;
    display: flex;
    align-items: flex-end;
}

#video {
    width: 40vw;
    height: calc(40vw * 390 / 640);
}
  
.scroll {
    position: fixed !important;
    width: 30vw !important;
    height: calc(30vw * 3 / 4) !important;
    top: 5vh !important;
    right: 5% !important;
}  